extends layout

block content
  div.jumbotron
    h1.text-center 8 Puzzle
    h2.text-center by Mike Sherry
  div.container
    div.row
      div.col-xs-3.text-center
        h2.row Input
        div#inputRadioButtons.row.btn-group(data-toggle="buttons")
          label.btn.btn-default.active Easy
            input(type="radio", name="options", id="easyProblem", autocomplete="off", checked)
          label.btn.btn-default Medium
            input(type="radio", name="options", id="mediumProblem", autocomplete="off")
          label.btn.btn-default Hard
            input(type="radio", name="options", id="hardProblem", autocomplete="off")
          label.btn.btn-default Custom
            input(type="radio", name="options", id="customProblem", autocomplete="off")
        br
        br
        div#standardInputContainer
          div.row
            div.col-xs-4#inputBox1
            div.col-xs-4#inputBox2
            div.col-xs-4#inputBox3
          div.row
            div.col-xs-4#inputBox4
            div.col-xs-4#inputBox5
            div.col-xs-4#inputBox6
          div.row
            div.col-xs-4#inputBox7
            div.col-xs-4#inputBox8
            div.col-xs-4#inputBox9
        div#customInputContainer
          div.row
            div.col-xs-1
            input.col-xs-2#customInputBox1
            div.col-xs-2
            input.col-xs-2#customInputBox2
            div.col-xs-2
            input.col-xs-2#customInputBox3
            div.col-xs-1
          div.row
            div.col-xs-1
            input.col-xs-2#customInputBox4
            div.col-xs-2
            input.col-xs-2#customInputBox5
            div.col-xs-2
            input.col-xs-2#customInputBox6
            div.col-xs-1
          div.row
            div.col-xs-1
            input.col-xs-2#customInputBox7
            div.col-xs-2
            input.col-xs-2#customInputBox8
            div.col-xs-2
            input.col-xs-2#customInputBox9
            div.col-xs-1
      div.col-xs-6.text-center
        h2.row Algorithm
        div.row.btn-group#algBtnGroup(data-toggle="buttons")
          label.btn.btn-default.active Breadth
            input(type="radio", name="algorithm", id="breadthFirst", autocomplete="off", checked)
          label.btn.btn-default Depth
            input(type="radio", name="algorithm", id="depthFirst", autocomplete="off")
          label.btn.btn-default Iterative
            input(type="radio", name="algorithm", id="iterativeDeepening", autocomplete="off")
          //label.btn.btn-default Greedy
          //  input(type="radio", name="algorithm", id="greedyBestFirst", autocomplete="off")
          //label.btn.btn-default A* Tiles
          //  input(type="radio", name="algorithm", id="aStarTiles", autocomplete="off")
          //label.btn.btn-default A* Manhattan
          //  input(type="radio", name="algorithm", id="aStarManhattan", autocomplete="off")
        br
        br
        p.row.text-info.text-center#AlgorithmName
        br
        div.row.text-center
          button.btn.btn-primary.btn-lg#submitButton(type="button") Solve Puzzle
          div#loadingContainer
            div
              img(src="/images/jake1.gif", style="height:100px; width:100px")
            div
              p.text-info.text-center Fetching the answer

      div.col-xs-3.text-center
        h2.row State
        div.row
          button.btn.btn-default#firstState(type="button") First
          button.btn.btn-default#prevState(type="button") Previous
          button.btn.btn-default#nextState(type="button") Next
          button.btn.btn-default#lastState(type="button") Last
        br
        div.row
          div.col-xs-4#stateBox1 -
          div.col-xs-4#stateBox2 -
          div.col-xs-4#stateBox3 -
        div.row
          div.col-xs-4#stateBox4 -
          div.col-xs-4#stateBox5 -
          div.col-xs-4#stateBox6 -
        div.row
          div.col-xs-4#stateBox7 -
          div.col-xs-4#stateBox8 -
          div.col-xs-4#stateBox9 -
    br
    br
    div.row
      div.col-xs-6
        div.well#output
      div.col-xs-6
        div.well#outputTrace

